@use '../sass/colors' as *; 
@use '../sass/typography' as *;

.thank-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    padding: 1rem;
    text-align: center;
}